#root {
    margin: 20px 20px 20px 30px;
}

div#main-container {
    margin-left: 30px;
    margin-right: 30px;
}

.button-column {
    width: 70px;
}

.button-submit {
    float: right;
    margin-right: 4px;
}

.description-column {
    width: 40vw;
}

.dynamic-modules-table {
    margin-top: 40px;
}